.picture {
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.sesb, .htw, .htw1, .easy, .click, .click1, .github {
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.left_image, .right_image {
  animation-duration: 3s;
  animation-delay: 1s;
}

.contact__animation, .language__animation {
  animation-duration: 3s;
  animation-delay: 0.5s;
}
