.toggle-btn {
  background: transparent;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 20px;
  line-height: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.responsive-menu-close {
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 190px;
}
