.alignment__container {
  padding: 40px 40px 0 40px;
  display: flex;
  align-items: center;

  img {
    max-width: 260px;
    width: 100%;
    height: auto;
  }

  &.last {
    padding-bottom: 80px;
  }
}

.title {
  padding-left: 20px;
}

.title__icon {
  font-size: 40px;
}

#work_experience {
  background-color: $very-light-grey;
}
