.menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: transparent;
  transition: background-color 1000ms linear;
  transition: opacity 0.5s linear;
  transition: top 0.3s ease-in;

  .menu-bar {
    padding: 20px;

    .menu-bar__title {
      font-size: 26px;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      font-size: $big-font-size;

      li {
        padding: 0 10px 0 10px;
      }
    }
  }
}

.responsive-menu {
  padding: 40px;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.6);
  position: fixed;
  z-index: 1;
  left: -200px;
  transition: 0.3s left ease-in;

  li {
    padding: 10px;
  }
}

.is-open {
  left: 0;
}

.menu-opened {
  display: none;
}

.menu-hidden {
  top: -100px;
}

.__has-background {
  background-color: rgba(204, 204, 204, 0.6);
  opacity: 0.8;
}
