.alignment__container {
  padding: 40px 40px 0 40px;
  display: flex;
  align-items: center;

  img {
    max-width: 260px;
    width: 100%;
    height: auto;
    transition: left 1s ease;
  }

  li {
   list-style: circle;
   margin-left: 30px;
  }

  &.last {
    padding-bottom: 80px;
  }
}

.is-off-view {
  position: absolute;
  left: -1000px;
}

.title {
  padding-left: 20px;
}

.title__icon {
  font-size: 40px;
}

#work_experience {
  background-color: $very-light-grey;
}
