.skills {
  background-color: $very-light-grey;
}

.right {
  background-color: $htw-green;
}

.education {
  margin: 0!important;
}

.left {
  display: flex;
  align-items: center;
  padding: 20px;
}

.right {
  display: flex;
  align-items: center;
  padding: 30px!important;
  font-size: $big-font-size;
  color: white;
}
