.header {
  height: 100vh;
  color: #000000;
  background: url('../assets/img/header-background.jpg');
  background-position: center;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;

  .description {
    padding-top: 100px;
    background-color: transparent;

    .picture-div {
      justify-content: center;
      padding-top: 100px;

      .picture {
        border-radius: 50%;
        max-width: 200px;
        max-height: 200px;
        opacity: 0.8;
      }
    }

    .description-content {
      justify-content: center;
      margin-top: 45px;
      padding-top: 20px;
      font-size: $big-font-size;
      color: white;
      text-align: center;
    }
  }
}
