.alignment__container {
  padding: 40px 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  img {
    max-width: 260px;
    width: 100%;
    height: auto;
    -webkit-transition: left 1s ease;
    transition: left 1s ease;
  }

  li {
   list-style-type: disc;
   margin-left: 30px;
  }

  &.last {
    padding-bottom: 80px;
  }
}

.is-off-view {
  position: absolute;
  left: -1000px;
}

.title {
  padding-left: 20px;
}

.title__icon {
  font-size: 40px;
}

#work_experience {
  background-color: $very-light-grey;
}
